@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');

@font-face {
  font-family: "Monaco";
  src: url('../fonts/mono.ttf') format("truetype");
}
@font-face {
  font-family: "AntipastoPro-DemiBold";
  src: url('../fonts/Zetafonts - AntipastoPro-DemiBold.otf') format("opentype");
}

.login {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 667px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
div {
  -webkit-text-size-adjust: none;
}
.login .facebook {
  background-color    : rgba(255,255,255,0.0);
  top                 : 398px;
  height              : 17px;
  width               : 100px;
  position            : absolute;
  margin              : 0;
  left                : 100px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .facebook .facebook1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 37px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.login .facebook .facebooklogo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 16px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .facebook .facebooklogo .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 16px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .facebook .facebooklogo .u30d1u30b910 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 16px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .facebook .facebooklogo .u30d1u30b911 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 13px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 6px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .twitter {
  background-color    : rgba(255,255,255,0.0);
  top                 : 454px;
  height              : 17px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 99px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .twitter .twitter1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 37px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.login .twitter .twitterlogo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 16px;
  width               : 19px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .google {
  background-color    : rgba(255,255,255,0.0);
  top                 : 510px;
  height              : 17px;
  width               : 83px;
  position            : absolute;
  margin              : 0;
  left                : 99px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .u3042u306au305fu304cu30d7u30e9u30a4u30d0u30b7u30fcu8a2du5b9au3092u3057u305fu3044u30b5u30fcu30d3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 306px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 46px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HiraginoSans-W4", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.login .privacyonlogo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 68px;
  height              : 222px;
  width               : 195px;
  position            : absolute;
  margin              : 0;
  left                : 90px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .privacyonlogo .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 222px;
  width               : 195px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .privacyonlogo .u30d1u30b9438 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 49px;
  height              : 114px;
  width               : 115px;
  position            : absolute;
  margin              : 0;
  left                : 39px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .privacyonlogo .u30d1u30b9437 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 56px;
  width               : 75px;
  position            : absolute;
  margin              : 0;
  left                : 59px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .privacyonlogo .u30d1u30b9440 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 95px;
  height              : 28px;
  width               : 31px;
  position            : absolute;
  margin              : 0;
  left                : 82px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .privacyonlogo .u30d1u30b9439 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 90px;
  height              : 18px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 94px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .privacyonlogo .privacyon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 172px;
  height              : auto;
  width               : 195px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AntipastoPro-DemiBold", Helvetica, Arial, serif;
  font-size           : 42.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 49.0px;
}
.login .signeup {
  background-color    : rgba(255,255,255,0.0);
  top                 : 583px;
  height              : 55px;
  width               : 343px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.login .signeup:hover {
  box-shadow          : 0px 0px 10px 2px rgba(0,0,0,0.2);
}
.login .signeup .signuphaikei {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 55px;
  width               : 343px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.login .signeup .signuphaikei:hover {
  transform           : scale(1.1);
}
.login .signeup .signuphaikei .u9577u65b9u5f6282 {
  background-color    : rgba(0, 111, 255, 1.0);
  top                 : 0px;
  height              : 55px;
  width               : 343px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-radius       : 27px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .signeup .signup {
  background-color    : rgba(255,255,255,0.0);
  top                 : 18px;
  height              : 19px;
  width               : 59px;
  position            : absolute;
  margin              : 0;
  left                : 144px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .signeup .signup .signup1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.login .nabigavtion {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 64px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .nabigavtion .backgroundblur {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 64px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .nabigavtion .u30d1u30b9505 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 32px;
  height              : 16px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 10px;
  -ms-transform       : rotate(180deg); /* IE 9 */
  -webkit-transform   : rotate(180deg); /* Chrome, Safari, Opera */
  transform           : rotate(180deg);
}
.login .nabigavtion .signin {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 157px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}





.facebook .facebook1 {
    margin: 2em 0;/*前後の余白*/
    padding: 0;
}

/*ボタン装飾*/
.facebook .facebook1 {label {
    padding: 15px;
    font-weight: bold;
    border: solid 2px black;
    cursor :pointer;
}

/*ボタンホバー時*/
.facebook .facebook1 {label:hover {
    background: #efefef;
}

/*チェックは見えなくする*/
.facebook .facebook1 {input {
    display: none;
}

/*中身を非表示にしておく*/
.facebook .facebook1 { .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.facebook .facebook1 { input:checked ~ .hidden_show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}