@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');

@font-face {
  font-family: "Monaco";
  src: url('../fonts/mono.ttf') format("truetype");
}
@font-face {
  font-family: "AntipastoPro-DemiBold";
  src: url('../fonts/Zetafonts - AntipastoPro-DemiBold.otf') format("opentype");
}

.swiper-slide img {
	margin-left: 33px;
}

.title1 {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 667px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
div {
  -webkit-text-size-adjust: none;
}
.title1 .chevronright {
    background-color    : rgba(255,255,255,0.0);
    top                 : 523px;
    height              : 19px;
    width               : 9px;
    position            : absolute;
    margin              : 0;
    left                : 183px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
}
.title1 .text {
  background-color    : rgba(255,255,255,0.0);
  top                 : 94px;
  height              : 475px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.title1 .text .privacyonu306ftwitteru30fb {
    background-color    : rgba(255,255,255,0.0);
    top                 : 419px;
    height              : 50px;
    width               : 377px;
    position            : absolute;
    margin              : 0;
    left                : -2px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "HiraginoSans-W4", Helvetica, Arial, serif;
    font-size           : 15.0px;
    color               : rgba(0, 0, 0, 1.0);
    text-align          : center;
    line-height         : 23.0px;
}
.title1 .text .u3042u306au305fu306fu30d7u30e9u30a4u30d0u30b7u30fcu8a2du5b9au3092u3057u3066u307eu3059u304buff1f {
    background-color    : rgba(255,255,255,0.0);
    top                 : 274px;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    left                : 22px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "HiraginoSans-W4", Helvetica, Arial, serif;
    font-size           : 18.0px;
    color               : rgba(0, 0, 0, 1.0);
    text-align          : left;
    line-height         : 27.0px;
	text-align: center;
}
.title1 .text .photo1 {
    background-color    : rgba(255,255,255,0.0);
    top                 : -180px;
    height              : 600px;
    width               : 375px;
    position            : absolute;
    margin              : 0;
    left                : -1px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
