@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');

@font-face {
  font-family: "Monaco";
  src: url('../fonts/mono.ttf') format("truetype");
}
@font-face {
  font-family: "AntipastoPro-DemiBold";
  src: url('../fonts/Zetafonts - AntipastoPro-DemiBold.otf') format("opentype");
}

.title2 {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 667px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
div {
  -webkit-text-size-adjust: none;
}
.title2 .chevronleft {
  background-color    : rgba(255,255,255,0.0);
  top                 : 609px;
  height              : 19px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 164px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.title2 .chevronright {
  background-color    : rgba(255,255,255,0.0);
  top                 : 609px;
  height              : 19px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 209px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.title2 .u4f7fu3044u65b9u306fu7c21u5358u3042u306au305fu306eu4f7fu3063u3066u3044u308bu30b5u30fcu30d3u30b9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 478px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 67px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HiraginoSans-W4", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 23.0px;
}
.title2 .photo2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 94px;
  height              : 250px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.title2 .privacyonu306eu4f7fu3044u65b9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 418px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 103px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.title2 .privacyonu306eu4f7fu3044u65b9 .span1 {
  line-height         : 22.0px;
}
.title2 .privacyonu306eu4f7fu3044u65b9 .span2 {
  font-family         : "HiraginoSans-W6", Helvetica, Arial, serif;
  line-height         : 27.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}