@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');

@font-face {
  font-family: "Monaco";
  src: url('../fonts/mono.ttf') format("truetype");
}
@font-face {
  font-family: "AntipastoPro-DemiBold";
  src: url('../fonts/Zetafonts - AntipastoPro-DemiBold.otf') format("opentype");
}

.anima-overlay {
  position            : absolute;
  opacity             : 0;
  display             : none;
  top                 : 0;
  width               : 100%;
  height              : 100%;
}
.title3 {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 667px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
div {
  -webkit-text-size-adjust: none;
}
.an-animation-enter2 {
  opacity             : 0;
  display             : block;
  -webkit-animation   : an-animation-enter2-frames 0.20000000298s ease-in-out 1 normal forwards;
  -moz-animation      : an-animation-enter2-frames 0.20000000298s ease-in-out 1 normal forwards;
  -o-animation        : an-animation-enter2-frames 0.20000000298s ease-in-out 1 normal forwards;
  animation           : an-animation-enter2-frames 0.20000000298s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes an-animation-enter2-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
@-moz-keyframes an-animation-enter2-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
@-o-keyframes an-animation-enter2-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
@keyframes an-animation-enter2-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
.title3 .privacyonlogo {
    background-color    : rgba(255,255,255,0.0);
    top                 : 121px;
    height              : 222px;
    width               : 214px;
    position            : absolute;
    margin              : 0;
    left                : 85px;
    overflow            : hidden;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
}
.title3 .privacyonlogo .background {
    background-color    : rgba(255,255,255,0.0);
    top                 : 0px;
    height              : 222px;
    width               : 202px;
    position            : absolute;
    margin              : 0;
    left                : 0px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
}
.title3 .privacyonlogo .u30d1u30b9438 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 49px;
  height              : 114px;
  width               : 115px;
  position            : absolute;
  margin              : 0;
  left                : 39px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.title3 .privacyonlogo .u30d1u30b9437 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 56px;
  width               : 75px;
  position            : absolute;
  margin              : 0;
  left                : 59px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.title3 .privacyonlogo .u30d1u30b9440 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 95px;
  height              : 28px;
  width               : 31px;
  position            : absolute;
  margin              : 0;
  left                : 82px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.title3 .privacyonlogo .u30d1u30b9439 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 90px;
  height              : 18px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 94px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.title3 .privacyonlogo .privacyon {
    background-color    : rgba(255,255,255,0.0);
    top                 : 168px;
    height              : 48px;
    width               : 268px;
    position            : absolute;
    margin              : 0;
    left                : 0px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "AntipastoPro-DemiBold", Helvetica, Arial, serif;
    font-size           : 42.0px;
    color               : rgba(0, 0, 0, 1.0);
    text-align          : left;
    line-height         : 49.0px;
}
.title3 .button {
  background-color    : rgba(255,255,255,0.0);
  top                 : 521px;
  height              : 59px;
  width               : 277px;
  position            : absolute;
  margin              : 0;
  left                : 49px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.title3 .button:hover {
  transform           : scale(1.1);
}
.title3 .button .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 59px;
  width               : 277px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.title3 .button .u540cu610fu3059u308b {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 103px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HiraginoSans-W4", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 27.0px;
}
.title3 .chevronleft {
  background-color    : rgba(255,255,255,0.0);
  top                 : 609px;
  height              : 19px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 183px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.title3 .u81eau5206u306eprivacyu3092onu306bu3057u307eu305bu3093u304buff1f {
    background-color    : rgba(255,255,255,0.0);
    top                 : 352px;
    height              : auto;
    width               : 378px;
    position            : absolute;
    margin              : 0 auto;
    left                : -3px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "HiraginoSans-W6", Helvetica, Arial, serif;
    font-size           : 18.0px;
    color               : rgba(0, 0, 0, 1.0);
    text-align          : center;
    line-height         : 18.0px;
}
.title3 .u81eau5206u306eprivacyu3092onu306bu3057u307eu305bu3093u304buff1f .span1 {
  line-height         : 27.0px;
}

.title3 .u5fc5u305au3053u3061u3089u3092u304au8aadu307fu4e0bu3055u3044 {
    background-color    : rgba(255,255,255,0.0);
    top                 : 380px;
    height              : 106px;
    width               : 376px;
    position            : absolute;
    margin              : 0;
    left                : -3px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform        s   : rotate(0deg);
    font-family         : "HiraginoSans-W4", Helvetica, Arial, serif;
    font-size           : 15.0px;
    color               : rgba(0, 0, 0, 1.0);
    text-align          : center;
    line-height         : 23.0px;
}  
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}


/* 送信ボタン */

input[type="submit"] {
padding: 10px 20px;
border: solid 2px #FFFF65;
background: #ffffff;
color: #454545;
}

 

/* 送信ボタン - マウスオーバー時 */

input[type="submit"]:hover {
background: #FFFF65;
}

 

/* 送信ボタン - 押せないとき */

input[type="submit"][disabled] {
background-color: #ccc;
cursor: default;
}







@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
